<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
  </head>
  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.message === "back_space") {
          document.querySelector("#chat-log").value = document
            .querySelector("#chat-log")
            .value.slice(0, -1);
        } else {
          document.querySelector("#chat-log").value += data.message;
        }
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      // document.querySelector("#chat-message-input").onkeyup = function (e) {
      //   if (e.keyCode === 8) {

      //   }
      // };
      //chat-message-submit
      document.querySelector("#chat-message-input").onkeydown = function (e) {
        let message;
        if (e.keyCode === 8) {
          message = "back_space";
        } else {
          const messageInputDom = document.querySelector("#chat-message-input");
          message = messageInputDom.value;
          messageInputDom.value = "";
        }

        chatSocket.send(
          JSON.stringify({
            message: message,
          })
        );
      };
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        let message;
        if (e.keyCode === 8) {
          message = "back_space";
        } else {
          const messageInputDom = document.querySelector("#chat-message-input");
          message = messageInputDom.value;
          messageInputDom.value = "";
        }

        chatSocket.send(
          JSON.stringify({
            message: message,
          })
        );
      };
    </script>
  </body>
</html>

/*
https://stackoverflow.com/questions/2897155/get-cursor-position-in-characters-within-a-text-input-field
https://stackoverflow.com/questions/4928586/get-caret-position-in-html-input */
